#pokemon-details {
    display: flex;
    flex-direction: column;
}
.contentDetails-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 1rem;
}
.contentDetails-button {
    display: flex;
    width: 100%;
    margin: 2rem;
}
#showListPokemon {
    background: transparent;
    color: #fff;
    border: none;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.contentDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pokemonHeader {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    color: #fff;
}
.pokemonHeader-text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}
.pokemonHeader-text span{
    font-size: 2rem;
}
.pokemonHeader-badge {
    display: flex;
    margin-bottom: 1.875rem;
}
.pokemonHeader-type {
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    border-radius: 3rem;
    opacity: 0.7;
    margin-right: 0.5rem;
}

.pokemonImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.pokemonImage img{
    width: 30%;
    height: auto;
    display: block;
}

.pokemonInfo {
    display: flex;
    width: 100%;
    background-color: #fff;
    min-height: 10vh;
    margin-top: 1rem;
}

.contentDetails-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pokemonInfo-about {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.pokemonInfo-title {
    margin: auto;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.infoDetails {
    display: flex;
    font-size: 1.125rem;
    justify-content: space-between;
    padding-top: 0.3rem;
    width: 100%;
}
.infoDetails-name {
    color: #636060;
    margin-right: 2rem;

}